<section class="section">
  <div class="container">
    <h1 class="title">Home</h1>
    <h2 class="subtitle">There's Nothing Here...</h1>
    <figure class="image">
      <svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
       <g>
        <rect id="svg_00" height="400" width="300" y="0" x="0" stroke-width="2" stroke="#000000" fill="none"/>
        <line id="svg_01" y2="050" x2="000" y1="000" x1="050" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_02" y2="100" x2="000" y1="000" x1="100" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_03" y2="150" x2="000" y1="000" x1="150" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_04" y2="200" x2="000" y1="000" x1="200" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_05" y2="250" x2="000" y1="000" x1="250" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_06" y2="300" x2="000" y1="000" x1="300" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_07" y2="350" x2="000" y1="050" x1="300" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_08" y2="400" x2="000" y1="100" x1="300" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_09" y2="400" x2="050" y1="150" x1="300" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_10" y2="400" x2="100" y1="200" x1="300" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_11" y2="400" x2="150" y1="250" x1="300" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_12" y2="400" x2="200" y1="300" x1="300" stroke-width="1" stroke="#000000" fill="none"/>
        <line id="svg_13" y2="400" x2="250" y1="350" x1="300" stroke-width="1" stroke="#000000" fill="none"/>
       </g>
      </svg>
    </figure>
  </div>
</section>
